{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About symblog</h1>
    </header>
    <article>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec luctus dui. Donec in cursus augue. Nunc blandit suscipit felis non luctus. Aliquam accumsan velit sem, suscipit pretium dui eleifend a. Sed ex dolor, cursus at sodales volutpat, imperdiet ac urna. Duis sollicitudin fringilla rutrum. Donec in posuere justo. Phasellus lectus nunc, placerat at varius et, varius at mauris.

            Donec euismod augue non posuere bibendum. Maecenas ultricies nulla purus, ac vestibulum odio consectetur at. Suspendisse potenti. Pellentesque at metus quis nibh dignissim egestas. Nulla elementum commodo libero at maximus. Praesent maximus augue arcu, ut maximus quam sollicitudin nec. Proin sodales, orci non accumsan finibus, lorem velit consectetur odio, quis consequat odio mauris id felis. Vestibulum auctor quam at ullamcorper sodales. Curabitur volutpat accumsan commodo. Etiam aliquet ac nulla vitae finibus. Nullam hendrerit sit amet nisi in ullamcorper. Cras cursus, felis sit amet posuere blandit, arcu arcu sollicitudin est, in hendrerit nibh nulla efficitur tortor. Vestibulum a tristique dolor, non convallis sapien. Donec dictum non tellus eu mattis. Suspendisse odio turpis, sollicitudin in suscipit ac, convallis vel odio. Donec commodo vitae erat auctor porttitor.

            Pellentesque iaculis elementum bibendum. Nam velit nunc, ullamcorper nec fringilla in, pulvinar id tortor. Nunc malesuada rhoncus felis vitae varius. Praesent felis velit, gravida nec rutrum ac, malesuada eu orci. Aenean rhoncus eget mauris quis volutpat. Cras viverra elit arcu, in tristique justo porttitor sit amet. Vivamus ac mollis metus, quis tincidunt metus. Proin ac fringilla nibh. Integer nec erat et orci pellentesque ornare non ac justo. Curabitur diam tortor, blandit sed consectetur in, sollicitudin at orci.
        </p>
    </article>
{% endblock %}